h1{
  color: rgb(255, 255, 255);
}

body{
  background-image: url(/Imagenes/fondopoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.Navbar{
  background-color: rgba(0, 0, 0, 0);
  padding: 50px;
  margin: 10px;
  text-decoration: none;
  text-align: end;
}

.logo{
  height: 300px;
  position: absolute;
  margin-top: -200px;
  
}