@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/*CSS de index */
:root {
  --clr-black: #1c1c1c;
  --clr-gray: #ececec;
  --clr-white: #f7f7f7;

  --type-normal: #A8A878;
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-steel: #B8B8D0;
  --type-fairy: #F0B6BC;
}

.card {
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 50px;
  margin: auto;
  margin-bottom: 35px;
  margin-left: 70px;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.pokemon-imagen {
  height: 10px;
  width: 50px;
  padding-bottom: 50px;
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
/*CSS de cosas*/
/*CSS de equipo*/
/*CSS Generales*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}


ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

h1{
    color: rgb(255, 255, 255);
  }
  
  body{
    background-image: url(/Imagenes/fondopoke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header{
    background-color: black;
  }
  .Navbar{
    padding: 50px;
    margin: 10px;
    text-decoration: none;
    text-align: end;
    
  }
  
  .Navbar a {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s;

  }

  .Navbar a:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
  }

  .logo{
    height: 80px;
    margin: 20px;
  }
  
  
  
  .titulo {
    color: white;
  }
  
  



/* Aca todo el CSS extra */



/* Aca comienzan los colores de botones según tipo */
#normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

#fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

#water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

#grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

#electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

#ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

#fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

#poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

#ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

#flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

#psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

#bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

#rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

#ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

#dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

#dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

#steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

#fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}


ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}


.header2 {
  padding-block: 1rem;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-inline: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: 20px;
}


.btn-header {
  background-color: var(--clr-gray);
  padding: .5rem;
  border-radius: 100vmax;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
  transition: .2s;
}

.pokemon-todos{
  display: flex;
  flex-wrap:wrap;
  padding: 90px;
}

ul button{
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

 ul button:hover {
  transform: scale(1.1); 
 
}

ul button:active {
  transform: scale(0.9);
}
 
.card:hover {
    box-shadow: white (1,0,0,0);
}

.filtro {
  display: none;
}
.texto {
  margin: 5px;
  padding: 5px;
}

.buscador {
  background-color: yellow;
  border-radius: 20px;
  padding: 15px;

}

.container-busca {
  display: flex;
  justify-content: center;
}