h1{
  color: black;
}

body{
  background-color: rgb(255, 255, 255);
}

.Texto{
  background-color: yellow;
}
.Navbar{
  background-color: rgba(0, 0, 0, 0);
  padding: 50px;
  margin: 10px;
  text-decoration: none;
  text-align: center;

}